<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="container">
    <div class="messages mat-elevation-z5">
        <h2>Messages</h2>
        <mat-divider></mat-divider>
        <div class="chat-area">
            <div
                class="chat-bubble-container"
                *ngFor="let message of messages"
                [ngClass]="{ sender: message.userId === Number(localStorage.getItem(userIdStr)), system: !message.userId }">
            <span class="fw-bold">{{
                    message.userId | username: allUsers
                }}</span>
                <div class="chat-bubble">
                    {{ message.content }}
                    <span class="chat-time">{{
                            message.timestamp | date: 'short'
                        }}</span>
                </div>
            </div>
        </div>
        <div class="input-area">
            <div class="message-container">
                <input
                    type="text"
                    placeholder="Enter your message..."
                    [(ngModel)]="message.content"
                    (keydown.enter)="sendMessage()"
                    class="message-input"
                    maxlength="200"
                />
                <div class="char-counter" [ngClass]="{'limit-reached': message.content.length > 199}">
                    {{ message.content?.length || 0 }}/200
                </div>
                <button (click)="sendMessage()" class="send-button">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
